.navbar {
    /* width: 100%; */
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 60px;
    height: 60px;
}

.nav-logo h3 {
    font-size: 2rem;
}

.nav-menu {
    display: flex;
    gap: 5vw;
}

.nav-menu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-menu li hr {

    border: none;
    width: 100%;
    height: 3px;
    background-color: red;
    border-radius: 2px;
}

.nav-login-cart {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.nav-login-cart button {
    border: 2px solid #7a7a7a;
    color: #515151;
    background-color: #fff;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.nav-login-cart button:active {
    background-color: #f3f3f3;

}

.nav-cart-counter {
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    align-items: center;
    background-color: red;
    margin-bottom: 20px;
    margin-right: 10px;

}